{{#if err}}
    <p>{{error}}</p>
{{/if}}
<p>Please enter your phonenumber in international format</p>

<form action="/step2" method="post">
    <input type="tel" name="number">
    <input type="submit" value="send code">
</form>